
@{
    ViewBag.Title = "Edit";
}


<form method="post">
    <table>
        <tr>
            <td>Product Id: @Model.Id</td>
        </tr>
        <tr>
            <td>Product Name: @Model.Name</td>
        </tr>
        <tr>
            <td>Product Quentity: </td>
            <td> <input type="text" value=@Model.Quantity name="Quantity" /></td>
        </tr>
        <tr>
            <td>Product Price: </td>
            <td> <input type="text" value=@Model.Price name="Price" /></td>
        </tr>
        <tr>
            <td>Product Description: </td>
            <td> <input type="text" value=@Model.Description name="Description" /></td>
        </tr>
        <tr>
            <td> <input type="submit" class="btn btn-primary" /></td>
        </tr>
    </table>
</form>
